<launch>

    <!--
      follow_offset: The x offset between the car and the clone
      force_in_bounds: Whether or not bounds for the clone should be checked
    -->

   <arg name="follow_offset" default="1.5" />
   <arg name="force_in_bounds" default="true" />

   <!--
	Launch a clone_follower node here
   -->

   <node name="clone_follower" pkg="lab0" type="scripts/CloneFollower.py" args="-o $(arg follow_offset) -f $(arg force_in_bounds)" respawn="true"/> 

</launch>
